<div class="content">
  <div class="title">Game in honor of the great emperor of Rome<br>Caesar Trajan</div>
  <div class="description">1x1 game where your army collide with the enemy army. Prove yourself as a talented commander.</div>
  <a class="button" routerLink="/play">play</a>
  <div class="footer">
    <a class="link" href="https://twitter.com/vgaidadei" target="_blank">my twitter @vgaidadei (contribute with me)</a>
    <a class="link" href="https://github.com/fakt309/caesar-traianus" target="_blank">github</a>
  </div>
</div>
<div class="trajan"></div>
